body {
    font-family: Montserrat, sans-serif !important;
    background-color: #F7F7F7;
    width: 100%;
    /*overflow: hidden;*/
    background-image: url('images/blocks.png');
    background-repeat: repeat;
}

.wrapper {
    display: inline-block;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 0px;
    width: 100%;
}

#code-off-navbar {
    background-color: #282828;
    font-weight: 300;
}

#code-off-navbar .container {
    width: 95%;
}

.pi-code-off {
    font-weight: 700;
    float: left;
    display: block;
    font-size: 35px;
    padding-left: 0;
    margin-top: 15px;
    color: #fff;
}

.pi-prolific {
    font-weight: 700;
    float: left;
    display: inline-block;
    font-size: 26px;
    padding-left: 0;
    margin-top: 15px;
    color: #E67E22;
}

.pi-idea {
    font-weight: 700;
    float: left;
    display: inline-block;
    font-size: 26px;
    padding-left: 0;
    margin-top: 15px;
    color: #00A2EF;
}

#code-off-navbar #code-off-title {
    display: inline;
}

#code-off-navbar #code-off-title img {
    display: inline;
    float: left;
    padding-top: 10px;
}

.navbar-fixed-top .nav {
    padding: 0;
}

#code-off-title {
    padding: 0;
}

#code-off-navbar ul li a {
    font-weight: 500;
    font-size: 18px;
    color: #fff;
}

#code-off-navbar ul li a:hover {
    color: #E67E22;
    font-weight: 600;
}

#code-off-navbar ul li a:active {
    color: #D8E1E8;
}

hr.line-nav{
    border: 0;
    height: 4px;
    background: #E67E22;
    margin-top: -50px;
}

.code-off-leaderboard-border {
    background: #FFFFFF;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-style: solid;
    border-width: 10px;
    border-color: #00A2EF;
}

#leaderboard-heading {
    color: #797979;
    font-weight: 700;
}

#leaderboard-table {
    color: #797979;
}

#leaderboard-table a {
    color: #48BBF2;
    font-weight: bold;
}

#leaderboard-table a:hover {
    color: #EF8300;
}

#leaderboard-table .code-off-tech {
    font-size: 1.8em;
    color: #797979;
}

#leaderboard-table .code-off-points {
    font-size: 1.8em;
    color: #797979;
    padding-left: 10px;
}

#code-off-info {
    font-family: Montserrat, sans-serif !important;
    font-weight: 500;
    color: #8A8A8A;
    margin: 0px 0px 0px 0px;
}

#code-off-info h4 {
    font-weight: 700;
}

#code-off-info ul {
    list-style-type: none;
    margin-left: 20px;
    padding: 0;
}

.code-off-content {
    font-size: 15px;
    color: #555555;
    margin-top: 25px;
    font-family: 'Montserrat Light', arial;
    padding-right: 20px;
}

.code-off-intro-background {
    background: #FFFFFF;
    text-align: center;
}

.code-off-header-logo{
    max-height:65px;
    height:auto;
}

th > p {
    font-weight: normal;
}

/*
 * Footer
 */
.pi-footer {
    background-color: #282828;
    padding: 0.55% 0;
    margin: 16px 0px 0px 0px;
}

.pi-text-center {
    text-align: center;
    margin: 20px;
}

#code-off-footer img {
    padding-bottom: 12px;
}

.pi-prolific-footer {
    font-weight: 700;
    float: none;
    display: inline-block;
    font-size: 26px;
    padding-left: 0;
    margin: 0px;
    color: #E67E22;
}

.pi-idea-footer {
    font-weight: 700;
    float: none;
    display: inline-block;
    font-size: 26px;
    padding: 10px 0;
    margin: 0px;
    color: #00A2EF;
}

#social-media {
    display: inline;
}

#social-media a {
    color: #FFF;
    padding: 0px 0px 0px 6px;
}

#social-media a:hover {
    color: #E67E22;
}

