body {
	font-family: Montserrat, sans-serif !important;
	width: 100%;
	/*overflow: hidden;*/
	background: #F7F7F7 url('../images/background-pattern.png') repeat;
}

.wrapper {
	display: inline-block;
	margin-top: 10px;
	padding: 0px 15px 15px;
	width: 100%;
}

.mb {
	margin-bottom: 25px;
}

#code-off-navbar {
	background-color: #282828;
	font-weight: 300;
}

#code-off-navbar .container {
	width: 95%;
}

.pi-code-off {
	font-weight: 700;
	float: left;
	display: block;
	font-size: 35px;
	padding-left: 0;
	margin-top: 15px;
	color: #FFFFFF;
}

.pi-prolific {
	font-weight: 700;
	float: left;
	display: inline-block;
	font-size: 26px;
	padding-left: 0;
	margin-top: 15px;
	color: #E67E22;
}

.pi-idea {
	font-weight: 700;
	float: left;
	display: inline-block;
	font-size: 26px;
	padding-left: 0;
	margin-top: 15px;
	color: #00A2EF;
}

#code-off-navbar #code-off-title {
	display: inline;
}

#code-off-navbar #code-off-title img {
	display: inline;
	float: left;
	padding-top: 10px;
}

.navbar-fixed-top .nav {
	padding: 0;
}

#code-off-title {
	padding: 0;
}

#code-off-navbar ul li a {
	font-weight: 500;
	font-size: 18px;
	color: #FFFFFF;
}

#code-off-navbar ul li a:hover {
	color: #E67E22;
	font-weight: 600;
}

#code-off-navbar ul li a:active {
	color: #D8E1E8;
}

hr.line-nav {
	border: 0;
	height: 4px;
	background: #E67E22;
	margin-top: -50px;
}

.code-off-leaderboard-border {
	background: #FFFFFF;
	padding-bottom: 8px;
	padding-left: 20px;
	padding-right: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 10px solid #00A2EF;
}

.content-panel {
	background: #FFFFFF;
	padding-top: 15px;
	padding-bottom: 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height: 250px;
	border: 10px solid #00A2EF;
	font-family: Montserrat, sans-serif !important;
}

.content-panel h4 {
	margin-left: 10px;
}

.content-codeoff-panel {
	background: #FFFFFF;
	padding-top: 15px;
	padding-bottom: 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	/*height: 500px;*/
	border: 10px solid #00A2EF;
}

.code-off-header-logo {
	max-height: 65px;
	height: auto;
	margin-top: 65px;
}

.content-code-off {
	color: #555555;
	margin-top: 25px;
	font-family: 'Montserrat Light', arial;
	padding-right: 20px;
}

@media (max-width: 1200px) {
	.code-off-header-logo {
		margin-top: 20px !important;
	}
}

@media (max-width: 992px) {
	.code-off-header-logo {
		margin-top: 20px !important;
	}

	.content-codeoff-panel {
		font-size: 11px !important;
		font-family: Montserrat, sans-serif !important;
		font-weight: 300;
	}

	#search-filter {
		float: left !important;
	}
}

@media (max-width: 768px) {
	.code-off-header-logo {
		margin-top: 20px !important;
	}

	.content-codeoff-panel {
		height: auto !important;
	}
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*Content Panel*/
.content-panel {
	background: #FFFFFF;
	/*box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);*/
	padding-top: 15px;
	padding-bottom: 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height: 250px;
	border-style: solid;
	border-width: 10px;
	border-color: #00A2EF;
}

.content-panel h4 {
	margin-left: 10px;
}

.content-panel-large {
	background: #FFFFFF;
	/*box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);*/
	padding-top: 15px;
	padding-bottom: 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height: 500px;
	border-style: solid;
	border-width: 10px;
	/*border-color: #00A2EF;*/
	border-color: #282828;
}

.codeoff-leaderboard-panel {
	background: #FFFFFF;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	/*height: 250px;*/
	border-style: solid;
	border-width: 10px;
	border-color: #00A2EF;
}

@media (max-width: 556px) {
	.twitter-feed {
		display: none !important;
	}

	.content-main {
		font-size: 6px !important;
	}

	.content-codeoff {
		font-size: 11px !important;
	}

	.main-header-logo {
		height: 110px;
		width: auto;
	}

	.content-codeoff-panel {
		height: auto !important;
	}

	.codeoff-header-logo {
		margin-top: 20px !important;
	}
}

@media (max-width: 992px) {
	.content-main {
		font-size: 11px !important;
	}

	.content-codeoff {
		font-size: 11px !important;
	}

	.main-header-logo {
		height: 110px;
		width: auto;
	}

	.codeoff-header-logo {
		margin-top: 20px !important;
	}
}

@media (max-width: 1200px) {
	.content-main {

	}

	.main-header-logo {
		height: 110px;
		width: auto;
	}

	.codeoff-header-logo {
		margin-top: 20px !important;
	}
}

.content-main {
	font-size: 15px;
	color: #FFFFFF;
	margin-top: 25px;
	font-family: 'Montserrat Light', arial;
	padding-right: 20px;
}

.content-main span {
	color: #EF8300;
}

.content-codeoff {
	font-size: 15px;
	color: #555555;
	margin-top: 25px;
	font-family: 'Montserrat Light', arial;
	padding-right: 20px;
}

.main-header-logo {
	margin-top: 20px;
}

.codeoff-header-logo {
	margin-top: 70px;
}

.pn {
	/* box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3); */
}

.pn:hover {
	/* box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3); */
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

#content-main {
	margin-top: 0px;
	margin-bottom: 8px;
}

#code-off-github a a:hover, a:focus {
	color: #48BBF2;
	text-decoration: none;
	outline: none;
}

#code-off-github a:hover {
	color: #E67E22;
	text-decoration: none;
	outline: none;
}

#leaderboard-heading {
	color: #797979;
	font-weight: 700;
}

#leaderboard-table {
	color: #797979;
	margin-bottom: 0px;
}

#leaderboard-table a {
	color: #48BBF2;
	font-weight: bold;
}

#leaderboard-table a:hover {
	color: #EF8300;
}

#leaderboard-table .code-off-tech {
	font-size: 1.8em;
	color: #797979;
}

#leaderboard-table .code-off-points {
	font-size: 1.8em;
	color: #797979;
	padding-left: 10px;
}

@media (max-width: 768px) {
	#leaderboard-table {
		font-size: 11px;
	}

	#leaderboard-table .code-off-tech {
		font-size: 1.4em;
		color: #797979;
	}

	#leaderboard-table .code-off-points {
		font-size: 1.4em;
		color: #797979;
		padding-left: 10px;
	}

	#leaderboard-table a {
		color: #48BBF2;
		font-weight: normal;
	}

}

#code-off-info {
	font-family: Montserrat, sans-serif !important;
	font-weight: 500;
	color: #8A8A8A;
	margin: 0px 0px 0px 0px;
}

/*#code-off-info h4 {*/
/*font-weight: 700;*/
/*}*/

#code-off-info ul {
	list-style-type: none;
	margin-left: 20px;
	padding: 0;
}

.code-off-content {
	font-size: 15px;
	color: #555555;
	margin-top: 25px;
	font-family: 'Montserrat', arial;
	padding-right: 20px;
}

.code-off-intro-background {
	background: #FFFFFF;
	text-align: center;
}

th > p {
	font-weight: normal;
}

/*
 * Footer
 */
.pi-footer {
	background-color: #282828;
	padding: 0.55% 0;
	margin: 16px 0px 0px 0px;
}

.pi-text-center {
	text-align: center;
	margin: 20px;
}

#code-off-footer img {
	padding-bottom: 12px;
}

.pi-prolific-footer {
	font-weight: 700;
	float: none;
	display: inline-block;
	font-size: 26px;
	padding-left: 0;
	margin: 0px;
	color: #E67E22;
}

.pi-idea-footer {
	font-weight: 700;
	float: none;
	display: inline-block;
	font-size: 26px;
	padding: 10px 0;
	margin: 0px;
	color: #00A2EF;
}

#social-media {
	display: inline;
}

#social-media a {
	color: #FFFFFF;
	padding: 0px 0px 0px 6px;
}

#social-media a:hover {
	color: #E67E22;
}

.icon-spacing {
	padding: 0px 3px 0px 4px;
}

/*
 * Tooltips
 */
/* Hover tooltips */
.field-tip {
	position: relative;
	cursor: help;
}

.field-tip .tip-content {
	position: absolute;
	top: -7px; /* - top padding */
	right: 9999px;
	width: 200px;
	margin-right: -200px; /* width + left/right padding */
	padding: 10px;
	color: #00A2EF;
	background: #333333;
	-webkit-box-shadow: 2px 2px 5px #AAAAAA;
	-moz-box-shadow: 2px 2px 5px #AAAAAA;
	box-shadow: 2px 2px 5px #AAAAAA;
	opacity: 0;
	-webkit-transition: opacity 250ms ease-out;
	-moz-transition: opacity 250ms ease-out;
	-ms-transition: opacity 250ms ease-out;
	-o-transition: opacity 250ms ease-out;
	transition: opacity 250ms ease-out;
	font-size: medium;
}

/* <http://css-tricks.com/snippets/css/css-triangle/> */
.field-tip .tip-content:before {
	content: ' '; /* Must have content to display */
	position: absolute;
	top: 50%;
	left: -16px; /* 2 x border width */
	width: 0;
	height: 0;
	margin-top: -8px; /* - border width */
	border: 8px solid transparent;
	border-right-color: #333333;
}

.field-tip:hover .tip-content {
	right: -20px;
	opacity: 1;
}
