<div class="col-lg-12" ng-controller="viewLeaderboardController">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb">
        <div class="code-off-leaderboard-border">
            <h2 class="h2" id="leaderboard-heading">Leaderboard</h2>
            <table class="table table-striped" id="leaderboard-table">
                <thead>
                <tr>
                    <th></th>
                    <th>Tech</th>
                    <th>Code Offs</th>
                    <th>Points</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="coder in coders">
                    <td>
                        <a href="http://github.com/{{coder.personDTO.username}}">
                            <div ng-if="!coder.personDTO.firstName || !coder.personDTO.lastName">
                                {{coder.personDTO.username}}
                            </div>
                            <div ng-if="coder.personDTO.firstName || coder.personDTO.lastName">
                                {{coder.personDTO.firstName}} {{coder.personDTO.lastName}}
                            </div>
                        </a>
                    </td>
                    <td class="code-off-tech" style="display: inline-flex">
                        <div ng-repeat="tech in coder.techs">
                            <i class="ng-bind: icon-{{tech.description}}" style="padding-left: 3px;"></i>
                            <!--<div ng-if="{{tech.description}}=='C#'">-->
                                <!--<i class="icon-csharp"></i>-->
                            <!--</div>-->
                            <!--<div ng-if="!{{tech.description}}=='C#'">-->
                                <!--<i class="ng-bind: icon-{{tech.description | lowercase}}"></i>-->
                            <!--</div>-->
                            <!--<div ng-switch on="({{tech.description}}=='C#')">-->
                                <!--<div ng-switch-when="true">-->
                                    <!--<i class="icon-csharp"></i>-->
                                <!--</div>-->
                                <!--&lt;!&ndash;<div ng-switch-when="{{tech.description}}==='C++'">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<i class="icon-cplusplus"></i>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--<div ng-switch-default>-->
                                    <!--<i class="ng-bind: icon-{{tech.description | lowercase}}"></i>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                    </td>
                    <td class="code-off-points">
                        {{coder.noCodeOffs}}
                    </td>
                    <td class="code-off-points">
                        {{coder.points}}
                    </td>
                </tr>
                </tbody>
            </table>
            <br>
        </div>
    </div>
</div>
