<div class="col-lg-12" ng-controller="viewLeaderboardController">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb">
        <div class="code-off-leaderboard-border">
            <h2 class="h2" id="leaderboard-heading">Leaderboard</h2>
            <table class="table table-striped" id="leaderboard-table">
                <thead>
                <tr>
                    <th></th>
                    <th>Tech</th>
                    <th>Code Offs</th>
                    <th>Points</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="coder in coders">
                    <td>
                        <a href="https://github.com/Stuart-Callen">{{coder.personId}}</a>
                    </td>
                    <td class="code-off-tech">
                        <i class="icon-java-bold"></i>
                        <i class="icon-erlang"></i>
                    </td>
                    <td class="code-off-points">
                        {{coder.noCodeOffs}}
                    </td>
                    <td class="code-off-points">
                        {{coder.points}}
                    </td>
                </tr>
                </tbody>
            </table>
            <br>
        </div>
    </div>
</div>