<div ng-controller="createChallengeController" ng-hide="update">
    <div class="code-off-leaderboard-border">
        <div ng-if="DirtyForm">
            <div style="position: fixed; width: 100%; height: 110%; top: 0px; left: 0px; background-color: rgba(0,0,0,0.4); z-index: 9000000;">
                <div style="width: 40%; margin: 200px auto auto;" class="alert alert-success"
                     align="center"
                     role="alert" ng-if="createNotification == true">
                    <h4 style="text-align: center;">Challenge has been created</h4>
                    <button class="btn btn-primary btn-lg" ng-click="OK(createChallengeForm)"><span
                            class="fa fa-thumbs-up"></span>&nbsp;OK
                    </button>
                </div>
                <div style="width: 40%; margin: 200px auto auto;" class="alert alert-danger"
                     align="center"
                     role="alert" ng-if="errorNotification == true">
                    <h4 style="text-align: center;">Error occurred please look at the console for more information.</h4>
                    <button class="btn btn-primary btn-lg" ng-click="OKError()"><span
                            class="fa fa-thumbs-up"></span>&nbsp;OK
                    </button>
                </div>
            </div>
        </div>
        <ng-form name="createChallengeForm">
            <h2 class="h2" style="color: #797979; font-weight: 700;">Create challenge</h2>

            <div class="form-group">
                <label for="ChallengeUrl">Challenge Url: https://github.com/</label><br/>
                <input
                        id="ChallengeUrl"
                        name="ChallengeUrl"
                        class="form-control"
                        placeholder="Challenge Url"
                        ng-model="challenge.url"
                        required/>

                <div ng-messages="createChallengeForm.ChallengeUrl.$error"
                     ng-show="createChallengeForm.ChallengeUrl.$touched && createChallengeForm.ChallengeUrl.$invalid">
                    <div class="error" style="color:red;" ng-message="required">Please complete the url.</div>
                </div>
            </div>
            <div class="form-group">
                <label for="ChallengeSolution">Select solution file</label><br/>
                <input
                        id="ChallengeSolution"
                        name="ChallengeSolution"
                        type="file"
                        class="form-control"
                        value="{{challenge.solution}}"
                        placeholder="Challenge Solution"
                        custom-ng-change="getTheFiles"
                        required/>

                <div ng-messages="createChallengeForm.ChallengeSolution.$error"
                     ng-show="createChallengeForm.ChallengeSolution.$touched && createChallengeForm.ChallengeSolution.$invalid">
                    <div class="error" style="color:red;" ng-message="required">Please select a file.</div>
                </div>
            </div>
            <div class="form-group">
                <label for="ChallengeSolutionFilePath">Solution File Path: </label><br/>
                <input
                        id="ChallengeSolutionFilePath"
                        name="ChallengeSolutionFilePath"
                        class="form-control"
                        placeholder="Challenge Solution File Path"
                        ng-model="challenge.solutionFilePath"
                        required/>

                <div ng-messages="createChallengeForm.ChallengeSolutionFilePath.$error"
                     ng-show="createChallengeForm.ChallengeSolutionFilePath.$touched && createChallengeForm.ChallengeSolutionFilePath.$invalid">
                    <div class="error" style="color:red;" ng-message="required">Please provide the solution file path.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="ChallengeStartDate">Challenge Start Date</label><br/>

                <p class="input-group">
                    <input type="text" id="ChallengeStartDate" name="ChallengeStartDate" class="form-control"
                           uib-datepicker-popup="{{format}}" ng-model="challenge.startDate"
                           ng-model-options="{timezone: '-1200'}" is-open="startDatePopup.opened"
                           datepicker-options="dateOptions" ng-required="true" close-text="Close"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openStartDate()"><i
                                class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
                <div ng-messages="createChallengeForm.ChallengeStartDate.$error"
                     ng-show="createChallengeForm.ChallengeStartDate.$touched && createChallengeForm.ChallengeStartDate.$invalid">
                    <div style="color:red;" ng-message="required">Please provide a start date.</div>
                </div>
            </div>
            <div class="form-group">
                <label for="ChallengeStartTime">Challenge Start Time</label><br/>
                <uib-timepicker id="ChallengeStartTime" name="ChallengeStartTime" ng-model="startTime"
                                ng-model-options="{timezone: '-0400'}" hour-step="1"
                                minute-step="1" ng-change="setStartTime()"
                                show-meridian="false"></uib-timepicker>
                <div ng-messages="createChallengeForm.ChallengeStartTime.$error"
                     ng-show="createChallengeForm.ChallengeStartTime.$touched && createChallengeForm.ChallengeStartTime.$invalid">
                    <div style="color:red;" ng-message="required">Please provide a start time.</div>
                </div>
            </div>
            <div class="form-group">
                <label for="ChallengeEndDate">Challenge End Date</label><br/>

                <p class="input-group">
                    <input type="text" id="ChallengeEndDate" name="ChallengeEndDate" class="form-control"
                           uib-datepicker-popup="{{format}}" ng-model="challenge.endDate"
                           ng-model-options="{timezone: '+0200'}" is-open="endDatePopup.opened"
                           datepicker-options="dateOptions" ng-required="true" close-text="Close"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openEndDate()"><i
                                class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
                <div ng-messages="createChallengeForm.ChallengeEndDate.$error"
                     ng-show="createChallengeForm.ChallengeEndDate.$touched && createChallengeForm.ChallengeEndDate.$invalid">
                    <div style="color:red;" ng-message="required">Please provide an end date.</div>
                </div>
            </div>
            <div class="form-group">
                <label for="ChallengeEndTime">Challenge End Time</label><br/>
                <uib-timepicker id="ChallengeEndTime" name="ChallengeEndTime" ng-model="endTime"
                                ng-model-options="{timezone: '+0200'}" hour-step="1"
                                minute-step="1" ng-change="setEndTime()"
                                show-meridian="false"></uib-timepicker>
                <div ng-messages="createChallengeForm.ChallengeEndTime.$error"
                     ng-show="createChallengeForm.ChallengeEndTime.$touched && createChallengeForm.ChallengeEndTime.$invalid">
                    <div style="color:red;" ng-message="required">Please provide an end time.</div>
                </div>
            </div>
            <div class="form-group">
                <label for="numberOfLinesToCompare">Number of lines to compare: </label><br/><input
                    id="numberOfLinesToCompare" type="number"
                    name="numberOfLinesToCompare" min="0" class="form-control"
                    placeholder="Number of lines to compare"
                    ng-model="challenge.numberOfLinesToCompare"
                    required/>

                <div ng-messages="createChallengeForm.numberOfLinesToCompare.$error"
                     ng-show="createChallengeForm.numberOfLinesToCompare.$touched && createChallengeForm.numberOfLinesToCompare.$invalid">
                    <div style="color:red;" ng-message="required">Please provide the number of lines to
                        compare.
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-default"
                    ng-disabled="createChallengeForm.$invalid || DirtyForm"
                    ng-click="Create();">Create challenge
            </button>
        </ng-form>
    </div>
</div>
