<div class="container-fluid" ng-controller="viewChallengesController">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb">
        <div class="code-off-leaderboard-border">
            <h2 class="h2" id="leaderboard-heading">Challenges View</h2>
            <div class="table-responsive">
                <table class="table table-striped" id="challenges-table">
                    <thead>
                    <tr>
                        <th class="col-lg-0 col-md-0 col-sm-0 col-xs-0">#</th>
                        <th class="col-lg-7 col-md-7 col-sm-7 col-xs-7">Url</th>
                        <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Solution Path</th>
                        <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">Start Date</th>
                        <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">End Date</th>
                        <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">Lines to Compare</th>
                        <th class="col-lg-0 col-md-0 col-sm-0 col-xs-0">Update</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="challenge in challenges">
                        <td>{{challenge.codeOffNumber}}</td>
                        <td>{{challenge.url}}</td>
                        <td>{{challenge.solutionFilePath}}</td>
                        <td>{{challenge.startDate | date: "dd MMM yyyy hh:mm"}}</td>
                        <td>{{challenge.endDate | date: "dd MMM yyyy hh:mm"}}</td>
                        <td>{{challenge.numberOfLinesToCompare}}</td>
                        <td>
                            <button type="button" class="btn btn-default" ng-click="Update($index)"
                                    data-toggle="tooltip"
                                    title="Update Issue"><i class="glyphicon glyphicon-edit"></i></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <br>

            <div class="row">
                <button type="button" class="btn btn-default" ng-hide="page === 1" ng-click="ToPrevPage()"
                        data-toggle="tooltip" title="To Next Page"><i class="glyphicon glyphicon-chevron-left"></i> Prev
                </button>
                <button type="button" style="float: right;" class="btn btn-default pull-right" ng-hide="CanNotNext"
                        ng-click="ToNextPage()" data-toggle="tooltip" title="To Next Page">Next <i
                        class="glyphicon glyphicon-chevron-right"></i></button>
            </div>
        </div>
    </div>
</div>