<footer class="pi-footer">
    <div class="pi-text-center">
        <a class="" href="index.html" id="code-off-footer">
            <img src="assets/images/sitelogo.png" width="36" style="display: inline-block;">
        </a>

        <div id="social-media">
            <a href="https://www.facebook.com/prolificidea"><i class="fa fa-facebook fa-2x"></i></a>
            <a href="https://twitter.com/ProlificIdea"><i class="fa fa-twitter fa-2x"></i></a>
            <a href="https://www.linkedin.com/company/prolific-idea"><i class="fa fa-linkedin fa-2x"></i></a>
            <a href="http://blog.prolificidea.com/"><i class="fa fa-bookmark fa-2x"></i></a>
            <a href="http://www.prolificidea.com/mailto:info@prolificidea.com?subject=Prolific%20Idea%20Query"><i
                    class="fa fa-envelope fa-2x"></i></a>
        </div>
    </div>
</footer>