<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="code-off-navbar">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand pull-left" href="index.html" id="code-off-title">
                <img src="assets/images/sitelogo.png" class width="20">
                <span class="pi-prolific">&nbsp; Prolific</span>
                <span class="pi-idea">Idea</span>
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <!--<li>-->
                <!--<a href="index.html"><span>Home</span></a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="#"><span>Challenges</span></a>-->
                <!--</li>-->
                <li>
                    <a href="https://www.facebook.com/prolificidea"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com/ProlificIdea"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/company/prolific-idea"><i class="fa fa-linkedin"></i></a>
                </li>
                <li>
                    <a href="http://blog.prolificidea.com/"><i class="fa fa-bookmark"></i></a>
                </li>
                <li>
                    <a href="http://www.prolificidea.com/mailto:info@prolificidea.com?subject=Prolific%20Idea%20Query"><i
                            class="fa fa-envelope"></i></a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>